.App {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  font-size: 20px;
  background-color: #50E3C2;
}

.logo {
  /* bloc_jams_logo: */
color: linear-gradient(23deg, #C503F5 0%, #A06AA8 44%, #14FF00 100%);
height: 130px;
}
.App nav {
  padding: 10px;
}
.App-header {
  background-color: #666;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
